<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.e3mall.search.mapper.SearchItemMapper">

	<select id="getAllSearchItem" resultType="cn.e3mall.domian.SearchItem">
		SELECT
			item.id,
			item.title,
			item.sell_point,
			item.price,
			item.image,
			cat.`name` category_name
		FROM
			tb_item item
		LEFT JOIN tb_item_cat cat ON item.cid = cat.id
		WHERE
		item. STATUS = 1
	</select>
	
	
	<select id="searchItemById"  parameterType="long"     resultType="cn.e3mall.domian.SearchItem">
		SELECT
			item.id,
			item.title,
			item.sell_point,
			item.price,
			item.image,
			cat.`name` category_name,
			c.item_desc
		FROM
			tb_item item
		LEFT JOIN tb_item_cat cat ON item.cid = cat.id
		LEFT JOIN tb_item_desc c ON item.id = c.item_id
		WHERE
		item. STATUS = 1
		AND 
		item.id = #{id}
	</select>
</mapper>